.weather-card__weather-main-info {
  position: relative;
  width: 100%;
  font-size: 0;
}

.weather-card__weather-icon,
.weather-card__temperature {
  display: inline-block;
}

.weather-card__weather-icon {
  font-size: 50px;
  line-height: 50px;
  width: 50%;
}

.weather-card__temperature {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  width: 50%;
}
